<div th:fragment="header">
  <nav class="navbar navbar-dark bg-dark" aria-label="First navbar example">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Cервис отчётов из Redmine</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample01">
        <ul class="navbar-nav me-auto mb-2">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Главная</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/reports">Отчёты</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users">Пользователи</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/projects">Проекты</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>